repos:

- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black
    args:
      - --line-length=100

- repo: https://github.com/adamchainz/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==22.12.0]
    args:
      - --line-length=100

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    args:
      - --max-line-length=100

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
  - id: debug-statements

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.5.1
  hooks:
  - id: add-license-headers
    args:
    - --start_year=2023
    exclude: |
        (?x)^(
            _package/.*
        )$

# this validates our github workflow files
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.22.0
  hooks:
    - id: check-github-workflows 
