[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "pydita-ast"
version = "0.1.dev0"
description = "PyDita AST converter."
readme = "README.rst"
requires-python = ">=3.8"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com"},
]
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
dependencies = [
    "importlib-metadata >=4.0",
    "lxml==4.9.2",
    "py-asciimath==0.3.0",
    "pylatexenc==2.10",
    "tqdm>=4.64.1",
]

[project.optional-dependencies]
tests = [
    "numpy==1.25.0",
    "parse==1.19.1",
    "pytest==7.3.2",
    "pytest-cov==4.1.0",
    "pytest-rerunfailures==11.1.2",
]
doc = [
    "Sphinx==6.2.1",
    "ansys-sphinx-theme==0.9.9",
    "build>= 0.10.0",
    "flit>=3.8.0",
    "jupyter_sphinx==0.4.0",
    "numpy==1.25.0",
    "numpydoc==1.5.0",
    "pandas==2.0.2",
    "parse==1.19.1",
    "pypandoc==1.11",
    "pytest-sphinx==0.5.0",
    "sphinx-autobuild==2021.3.14",
    "sphinx-autodoc-typehints==1.23.0",
    "sphinx-copybutton==0.5.2",
    "sphinx-notfound-page==0.8.3",
    "sphinx-gallery==0.13.0",
    "sphinx-design==0.4.1",
]

[project.urls]
Source = "https://github.com/ansys/pydita-ast/"
Tracker = "https://github.com/ansys/pydita-ast/issues"
Homepage = "https://github.com/ansys/pydita-ast"

[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["src"]

[tool.coverage.run]
source = ["scr"]

[tool.coverage.report]
show_missing = true
